In [8]:
lista_enteros = [entero for entero in range(100)] # lista con los 100 primeros números enteros
print(lista_enteros)
lista_pares = []
lista_impares = list()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### Objetivo
Separar esa lista_enteros en 2 sublistas, una con los números pares y otra con los impares.

Recordar que el operador _`%`_ retorna el resto de la división entera.

También recordar que los números pares se pueden definir como 
los números cuyo resto de la division entera por 2 es 0.

In [24]:
for i in lista_enteros:
    if i%2 == 0:
        lista_pares.append(i)
    else:
        lista_impares.append(i)
print(lista_pares)
print(lista_impares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

### Mini Ejercicio 2

In [25]:
lista_nombres = ['Juan', 'Pedro', 'Thomas', 'Juana', 'Maria']
lista_ruts = ['92134518-k', '62754118-k', '55144322-k', '91456512-k', '999888777-k']

Tenemos dos listas, una con los nombres de cinco personas y otra con la rut de esas personas, queremos unir la información de esas listas de tal forma que el resultado final sea una lista de tuplas, donde cada elemento es una tupla de la forma `('Nombre_Persona_1, 'rut_persona_1')`.
Ambas listas estan ordenadas, así que el primero elemento de la lista de nombre corresponde a la rut del primero elemento de la lista de rut´s y eso se cumple para todos los elementos.

In [27]:
lista_de_tuplas=list()
for i in range(len(lista_nombres)):
    lista_de_tuplas.append((lista_nombres[i],lista_ruts[i]))
print(lista_de_tuplas)

[('Juan', '92134518-k'), ('Pedro', '62754118-k'), ('Thomas', '55144322-k'), ('Juana', '91456512-k'), ('Maria', '999888777-k')]